{% extends 'card/card_temp.html' %}
{% block head %}
    <title>Normal Coding Languages Fundamentals - Coding for kids</title>
{% endblock %}
{% block body %}
    <h1 class="heading-h1">Normal coding languages</h1>
    <p>Programming is how to talk to a computer.</p>
{% endblock %}

{% block form %}
    <div>
        <p>What are programming languages?</p>
        <label for="What are programming languages">What are programming languages?</label><br>
        <input type="radio" id="What are programming languages" name=""><br>
    </div>
{% endblock %}