{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../../static/css/style.css">

    <title>Not Found - Coding for kidz</title>
{% endblock %}
{% block body %}
    <h1 class="heading-h1">Not Found</h1>
    <img src="../static/img/not_found.png" alt="not found">
    <p>I searched everywhere but couldn't find the page you were looking for!</p>
    <br><a href="/">Return to home page</a><br>
    <a href="/page_not_found_error">Report Error</a>
{% endblock %}