{% extends 'base.html' %}
{% block head %}
    <title>Not Found - Coding for kidz</title>
{% endblock %}
{% block body %}
    <h1 class="heading-h1">Not Found</h1>
{#    TODO: Maintain a complete list of Urls, This is only partial#}
    <ul>
        <li><a href="/">/</a></li>
        <li href="/home">/home</li>
        <li>/about</li>
        <li>/learn</li>
        <li>/projects</li>
        <li>/refresh</li>
        <li>/create-all</li>
        <li>/drop-all</li>
        <li>/test-code</li>
        <li>/code/javascript</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <h2>Lessons</h2>
    <ul>
        <li>/card/programming-fundamentals</li>
        <li>/card/normal/</li>
    </ul>
{% endblock %}