{% extends 'base.html' %}
{% block head %}
    <title>Learn - Coding for kidz</title>
    <style>
        #main {
            background-color: green;
        }
    </style>
{% endblock %}
{% block body %}
    <h1 class="heading-h1">Admin Site</h1>
    <p>Welcome to the admin site. This is the highest level site. You have many powers.</p>
    <br><b>You can:</b><br>
    <ol>
        <li>Edit user profiles and delete user profiles</li>
        <li>Edit articles and there tags and authors or delete them</li>
        <li>Make people staff and mods</li>
        <li>Edit user progress</li>
        <li>Feature articles</li>
        <li>Have access to the mod and staff sites.</li>
    </ol>
{% endblock %}