{% extends 'base.html' %}
{% block head %}
    <title>About us - Coding for kidz</title>
    <!-- head content -->
    <style>
        #about {
            background-color: green;
        }
    </style>
{% endblock %}
{% block body %}
    <h1 class="heading-h1">About</h1>
    <p>This website teaches coding to kids in a fun interactive way. It makes learning how to program very easy. This website will teach kids lots of python, perl, C, C#, C++, java, javascript, typescript, and many other programming languages!</p>
    <br><b>Try out our courses <a href="/learn">here</a></b><br>
    <h2>Creators</h2>
    <ul>
    <li>Ashwin Naren</li>
    <li>Varun Rajkumar</li>
    </ul>
{% endblock %}