{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/style.css">
    <script
    src="https://browser.sentry-cdn.com/5.22.3/bundle.min.js"
    integrity="sha384-A1qzcXXJWl+bzYr+r8AdFzSaLbdcbYRFmG37MEDKr4EYjtraUyoZ6UiMw31jHcV9"
    crossorigin="anonymous"
    ></script>
    <title>Error - Coding for kidz</title>
{% endblock %}
{% block body %}
    <script src="../static/scripts/js/alert.js"></script>
    <h1 class="heading-h1">Error</h1>
    <p>There is a error that's all I know.</p>
{% if sentry_event_id %}
<script>
  Sentry.init({ dsn: "https://examplePublicKey@o0.ingest.sentry.io/0" });
  Sentry.showReportDialog({ eventId: "{{ sentry_event_id }}" });
</script>
{% endif %}
    <br><a href="/">Return to home page</a><br>
{% endblock %}